.header-inner {
    display: flex;
    height: 64px;
    background: #444444;
    color: #ffffff;
}

.header-exit {
    flex: none;
    flex-basis: 64px;
    border: 0;
    background: transparent;
    color: #666666;
    -webkit-appearance: none;
    transform: rotate(180deg);
    transition: color .2s;
}
    .header-exit:hover {
        color: #ffffff;
    }
    .header-exit i {
        font-size: 32px;
    }

.header-mode {
    position: relative;
    flex: none;
    flex-basis: 256px;
    background: #4a4a4a;
    line-height: 64px;
    padding: 0 16px;
}
    .header-mode:hover {
        background: #555;
    }
    .header-mode i {
        float: right;
        color: #ccc;
    }
    .header-mode select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #000;
        -webkit-appearance: none;
        appearance: none;
        opacity: 0;
        cursor: pointer;
    }

.header-info {
    flex: auto;
    text-align: center;
    line-height: 64px;
    font-weight: bold;
}

.header-actions {
    flex: none;
    padding-top: 14px;
    padding-right: 16px;
}
