.sidebar {
    font-size: 13px;
    font-weight: 300;
    background: #222222;
    color: #FFF;
    overflow: hidden;
}
    .sidebar a {
        color: #EEE;
    }
    .sidebar select {
        color: #000;
    }

.react-tabs {
    height: 100%;
}

.react-tabs [role=tablist] {
    float: left;
    margin: 0;
    border: 0;
    width: 64px;
}
.react-tabs [role=tab] {
    display: block;
    border: 0;
    width: 64px;
    height: 64px;
    font-size: 32px;
    line-height: 52px;
    text-align: center;
    background: transparent;
    color: #555;
    transition: color .2s, background .2s;
}
.react-tabs [role=tab]:hover {
    background: rgba(0,0,0,.1);
}
.react-tabs [role=tab]:focus {
    border: 0;
    box-shadow: none;
    outline: 1px dotted #fff;
}
.react-tabs [role=tab]:focus:after {
    display: none;
}
.react-tabs [role=tab][aria-selected=true] {
    background: transparent;
    border-radius: 0;
    color: #ffffff;
}
.react-tabs [role=tabpanel] {
    height: 100%;
    overflow: auto;
    margin-left: 64px;
    background: #333333;
}

.materials-list {
    background: #222;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    max-height: 120px;
    /*padding: 4px;*/
}
    .material-preview {
        /*flex: 1;*/
        display: flex;
        align-items: center;
        color: #ccc;
        /*flex-shrink: 0;
        flex-basis: 50%;
        flex-grow: 0;*/
        /*text-align: center;*/
        font-size: 11px;
    }
    .material-preview.active {
        background: #111;
        color: #fff;
        /*border: 1px solid #444;*/
        /*border-radius: 2px;*/
    }
